<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
<script src="https://unpkg.com/grapesjs"></script>

<!-- plugin-->
<script src="https://unpkg.com/grapesjs-user-blocks"></script>
<script src="https://unpkg.com/grapesjs-templates"></script>
<script src="https://unpkg.com/grapesjs-chartjs-plugin"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/grapesjs-custom-code"></script>


<div id="gjs"></div>

<script type="text/javascript">
  var editor = grapesjs.init({
    container: '#gjs',
  height: '100%',
  fromElement: true,
  storageManager: false,
  plugins: ['grapesjs-user-blocks', 'grapesjs-templates', 'grapesjs-chartjs-plugin', 'grapesjs-custom-code'],
  pluginsOpts: {
    'grapesjs-templates': { 
      templates: 'http://localhost:3000/templates',
      projects: 'http://localhost:3000/projects',
    }
  }
  });
</script>